<div class="jumbotron">
    <h1>Boek een beestje</h1>
    <p class="lead">Welkom bij Beestje op een feestje (BOEF). Hier kun je een of meerdere van onze dieren boeken voor op jouw feestje! Kies de dag van je feestje en volg de stappen om je beestje te boeken.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Boek hier je beestje!</h2>
        <p>
            Selecteer hieronder de datum waarop je een beestje wilt boeken!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <img src="~/Images/field.png" alt="field.png"/>
    </div>
</div>