@model BeestjeOpJeFeestje.Domain.Booking
@{ 
    Layout = null;
}
    <div>
        <p>Datum:</p>
        <p>@Model.Date</p>
        <p>Beesten:</p>
        <ul>
            @foreach (var beast in Model.Beast)
            {
                <li> @beast.Name </li>
            }
        </ul>
        <p>Accessoires:</p>
        <ul>
            @foreach (var beast in Model.Beast)
            {
                foreach (var acc in beast.Accessory.Where(a => a.IsSelected == true))
                {
            <li>@acc.Name</li> 
                }
            }
        </ul>
    </div>

