@{
    Layout = "_ProgressLayout.cshtml";
    Styles.Render("~/Content/scss");
}
<div class="h5">Subtitle</div>
<div class="multi-step">
    <ul class="multi-step-list">
        <li class="multi-step-item active current">
            <div class="item-wrap">
                <p class="item-title">Step One</p>
                <p class="item-subtitle">Information about this step.</p>
            </div>
        </li>
        <li class="multi-step-item active">
            <div class="item-wrap">
                <p class="item-title">Step Two</p>
                <p class="item-subtitle">Information about this step.</p>
            </div>
        </li>
        <li class="multi-step-item active">
            <div class="item-wrap">
                <p class="item-title">Step Three</p>
                <p class="item-subtitle">Information about this step.</p>
            </div>
        </li>
    </ul>
</div>