@model IEnumerable<BeestjeOpJeFeestje.Domain.Beast>
@{
    ViewBag.Title = "Step2";
}

<h2>Step2</h2>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            </tr>
    }


