@model IEnumerable<BeestjeOpJeFeestje.Domain.Beast>
@{
    ViewBag.Title = "Step2";
}

<h2>Step2</h2>

<div style="display: inline"></div>
<ul>
    @foreach (var item in Model)
    {
        foreach (var acc in item.Accessory)
        {
            <li>@acc.Name</li>
        }
    }
</ul>


<div class="form-group">
    @Html.Action("InfoBar");
</div>


